/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #6E89F7; /* 110 137 247 */
  --ifm-color-primary-dark: #4c6df5;
  --ifm-color-primary-darker: #3b60f4;
  --ifm-color-primary-darkest: #0d39ed;
  --ifm-color-primary-light: #90a5f9;
  --ifm-color-primary-lighter: #a1b2fa;
  --ifm-color-primary-lightest: #d4dcfd;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}
